@use "_colors" as *;
@use "_mixins" as *;

#container {
	margin: 1rem;
	display: flex;
	gap: 1px;
	flex-wrap: wrap;
}

.section {

	--width: 100;
	width: calc(var(--width) * 1% - 1px);
	order: 0;

	.section-header {
		background: $border-color;
		border-top-right-radius: 0.5em;
		border-top-left-radius: 0.5em;
		display: flex;
		gap: 1em;
		align-items: baseline;
		padding: 0.25em 0.25em;
		@include horizontal-scroll;

		* {
			// background-color: #505050;
			// color: white;
		}

		.width-collection,
		.scale-collection {
			display: flex;
			align-items: center;
			.ui-collection {
				display: flex;
				input.toggle-check {
					width: auto;
				}
			}
		}

		.section-collection {
			margin-left: auto;
		}
	}

	&.hidden .panel {
		// visibility: collapse;
		display: none;
	}
}

.panels {
	--ui-scale: 12;
	font-size: calc(var(--ui-scale) * 1px);
	display: flex;
	flex-wrap: wrap;
	gap: 0 1px;
	align-items: baseline;
}

#quick-panel {
	.row { 
		font-size: calc(var(--quick-ref-font-size) * 1px);
	}

	.header {
		font-size: inherit;
	}
}