#container {

	margin: 1rem;
	display: grid;
	grid-gap: 1em;
	grid-template-areas:
		'ui main'
		'timeline timeline';
	// justify-content: space-between;

	&.RL {
		grid-template-areas:
			'main ui'
			'timeline timeline';
	}

	&.UP {
		grid-template-areas:
			'timeline timeline'
			'ui main';
	}

	&.UP.RL {
		grid-template-areas:
			'timeline timeline'
			'main ui';
	}

	#ui { grid-area: ui; }
	#main { grid-area: main; }
	#ui-timeline { grid-area: timeline }
	
	.ui-section {
		min-width: 120px;
		--max-width: 500;

		&.max-width {
			min-width: calc(var(--max-width) * 1px);
			// width: calc(var(--max-width) * 1px);
		}
	}
}

.ui-section {
	.section-header {
		background: $border-color;
		border-top-right-radius: 0.5em;
		border-top-left-radius: 0.5em;
		display: flex;
		gap: 1em;
		align-items: center;
		padding: 0.25em 0.5em;
		@include horizontal-scroll;

		.width-collection,
		.scale-collection {
			display: flex;
			align-items: center;
			.ui-collection {
				display: flex;
				input.toggle-check {
					width: auto;
				}
			}
		}
	}

	&.hidden {
		display: none;
	}
}

.panels {
	--ui-scale: 12;
	font-size: calc(var(--ui-scale) * 1px);
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.5rem;
	align-items: baseline;
}

#quick-panel {
	.row { 
		font-size: calc(var(--quick-ref-font-size) * 1px);
	}

	.header {
		font-size: inherit;
	}
}