@use "sass:color";
@use "_colors" as *;
@use "_mixins" as *;

.break { flex-basis: 100%; }
.panel {
	flex-grow: 1;
	order: 0;

	background-color: $bg-color;
	&:hover {
		// background-color: darken($bg-color, 2%);
		background-color: color.adjust($bg-color, $lightness: -2%);
	}
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	padding: 0.25rem;
	overflow: hidden;
	position: relative;
	height: auto;
	
	min-width: 140px;
	max-width: 200px;

	& .break-line,
	& .break-line-up {
		flex-basis: 100%;
	}

	& .break-line {
		border-bottom: 1px solid $text-color;
	}

	& .break-line-up {
		border-top: 1px solid $text-color;
	}

	&.undocked { display: none !important; }

	.row label:first-child,
	.row .break + label,
	.row .break-line + label { 
		margin-bottom: 0;
		margin-right: auto;
	}

	.list-group {
		/*margin-top: -8px;*/
		/*margin-left: auto;*/
	}

	.row label:has(~ .list-group) {
		margin-right: unset;
	}

	.row {
		margin-bottom: 0.25em;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.btn {
		padding: 0 0.5em;
		// margin-right: 3px;
		// margin-top: 0.5em;
		transition: background-color 100ms ease-in-out;
		// height: 1.125rem;
		// line-height: 1.55;

		&.triggered {
			background-color: $ui-select;
		}
	}

	select { margin-top: 0.25em; }

	summary {
		flex-basis: 100%;
	}

	.header {
		flex-wrap: nowrap;
		flex-basis: 100%;

		label {  font-size: 1.0625em; }
		span, label { 
			margin-top: 0; 
			margin-right: 0.06125em;
		}

		.undock-btn {
			align-self: flex-start;
			@include left-end;
		}

		.headless-btn {
			@include right-end;
		}

		.order-btn {
			margin-left: auto;
			align-self: flex-start;
		}

		.toggle,
		.order-btn,
		.undock-btn,
		.headless-btn {
			&.on { background-color: inherit; }
			// &:hover { background: $ui-select; }
			// &:hover { color: white; }
		}

		.headless-btn.btn {
			margin-right: 0;
			align-self: unset;
		}
	}

	&.headless {
		padding: 0 3px;
		border-radius: 0;
		margin: 0;
		min-width: 100%;
		max-width: unset;
		width: max-content;
		display: flex;
		flex-wrap: wrap;

		.row {
			flex-wrap: nowrap;
			margin-right: 3px;
			@include horizontal-scroll;

			&.header { overflow: initial; }
		}

		.row .btn {
			margin-bottom: 0;
		}

		.row label {
			margin-right: 3px;
		}

		.header {
			margin-bottom: 0;
			height: 12px;
			margin-right: 0;
			align-items: unset;

			.toggle, 
			.order-btn, 
			.undock-btn, 
			.block-btn {
				display: none;
			}

			label {
				margin-left: auto;
				margin-right: unset;
				font-size: 10px;
			}

			.headless-btn {
				display: unset;
				padding: 0;
				align-self: center;
			}
		}

		&:last-child {
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	.ui-collection {
		display: flex;
		flex-wrap: wrap;
		gap: 2px;
	}
}
