.break { flex-basis: 100%; }
.panel {
	flex-basis: 12em;
	flex-grow: 1;
	// max-width: 20em;
	order: 0;

	background-color: $bg-color;
	border-radius: 3px;

	padding: 0.25rem;
	overflow: hidden;
	position: relative;
	height: auto;
	margin-bottom: 0.5rem;

	// margin: 0 0.5em 0.5em 0;

	& .break-line,
	& .break-line-up {
		flex-basis: 100%;
	}

	& .break-line {
		border-bottom: 1px solid $text-color;
	}

	& .break-line-up {
		border-top: 1px solid $text-color;
	}

	&.undocked { display: none !important; }
	&.closed { 
		height: 25px; 
		order: -1 !important;
	}

	&.block {
		min-width: 100%;
		width: max-content;
		display: flex;
		flex-wrap: wrap;

		&.headless .row {
			flex-wrap: nowrap;
		}

		.row .btn {
			align-self: flex-end;
			margin-bottom: 0;
		}

		&.closed {
			order: -2 !important;
		}

		.row label {
			margin-right: 3px;
		}
	}

	.row label:first-child,
	.row .break + label { 
		margin-bottom: 0;
		margin-right: auto;
	}

	.row {
		margin-bottom: 0.25em;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.btn {
		padding: 0 0.25em;
		margin-right: 3px;
		// margin-top: 0.5em;
		transition: background-color 100ms ease-in-out;
		// height: 1.125rem;
		// line-height: 1.55;

		&.triggered {
			background-color: $ui-select;
		}
	}

	select { margin-top: 0.25em; }

	.header {
		flex-wrap: nowrap;
		flex-basis: 100%;
		label {  font-size: 1.0625em; }
		span, label { 
			margin-top: 0; 
			margin-right: 0.06125em;
		}

		.undock-btn {
			align-self: flex-start;
			margin-left: auto;
		}

		.order-btn {
			align-self: flex-start;
		}

		.toggle,
		.order-btn,
		.undock-btn,
		.block-btn,
		.headless-btn {
			background-color: transparent;
			display: inline-block;
			cursor: pointer;
			font-size: 1.0625em;
			padding: 1px;
			// align-self: baseline;

			border-top: 2px solid transparent;
			border-radius: 0;

			&.on { background-color: inherit; }
			&:hover { background: $ui-select; }
		}

		.order-btn, 
		.undock-btn, 
		.block-btn, 
		.headless-btn {

			&:hover {
				background-color: $ui-color;
				border-top: 2px solid $ui-select;
			}
		}

		.block-btn {
			align-self: flex-start;
			font-size: 1em;
		}

		.headless-btn.btn {
			margin-right: 0;
			align-self: unset;
		}
	}

	&.headless {
		padding: 0 3px;
		border-radius: 0;
		margin: 0;

		label, .headless-btn {
			// align-self: baseline;
		}

		.header {
			margin-bottom: 0;
			height: 0px;
			.toggle, 
			.order-btn, 
			.undock-btn, 
			.block-btn {
				display: none;
			}
			label {
				margin-left: auto;
				font-size: 10px;
			}
		}	
	}

	&.block .row {
		@include horizontal-scroll;

		&.header {
			overflow: initial;
			margin-top: 0.5em;
		}
	}
}
